{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign Up Page </title>
    <link rel="stylesheet" href="{% static 'styless.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>
    <div class="container">
        <div class="signup-box">
            <h1> Sign Up </h1>
            <form action="su" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <h4><label for="name"> First Name </label></h4>
                    <input type="name" id="name" name="fname" placeholder="." required>

                    <h4><label for="name"> Last Name </label></h4>
                    <input type="name" id="name" name="lname" placeholder="." required>
                </div>
                <div class="input-group">
                    <h4><label for="email"> Email ID </label></h4>
                    <input type="email" id="email" name="email" placeholder="." required>
                </div>
                <div class="input-group">
                    <h4><label for="password"> Password </label></h4>
                    <input type="password" id="password" name="password" placeholder="." required>
                </div>
                <div class="input-group">
                    <h4><label for="confirm-password"> Confirm Password </label></h4>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="." required>
                </div>
                <button type="submit" class="signup-btn"> Sign Up </button>
            </form>
            <p class="login-link">Already have an account? <a href="index.html">Login</a></p>
        </div>
    <br>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    
    
</body>
</html>
